@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@600&family=Roboto:wght@300&display=swap");

/* MEDIA QUERY MANAGER 
$breakpoint choises
phone 0 - 375px
tablet-port 375px - 768px
tablet-land 768px - 1024px
desktop + 1024px  //default style

1em = 16px
*/

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 23.5em) {
      //375px
      @content;
    }
  }
  @if $breakpoint == tab-port {
    @media (max-width: 48em) {
      //768px
      @content;
    }
  }
  @if $breakpoint == tab-land {
    @media (max-width: 64em) {
      //1024px
      @content;
    }
  }
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: calibri, arial;
}

html {
  font-size: 100%; //1rem = 16px
}

.header-container {
  position: fixed;
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;
  z-index: 100;
  align-items: center;
  background-color: white;
  /* padding: 15px; */
}

main {
  margin-top: 90px;
}

.banner {
  width: 100%;
  height: 452px;
  background-color: #f6f4f5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  // background-image: url("/images/banner.png");
  // background-size: auto 100%;
  // background-position: right 0% bottom 0%;
  // background-repeat: no-repeat;
  // background-origin: border-box;
  // background-clip: border-box;
  margin-bottom: 81px;
  position: relative;

  @include respond(tab-port) {
    height: 405px;
    position: static;
    background-image: url("/images/banner-phone.png");
    background-size: contain;
    background-position: right 0% bottom 0%;
    background-repeat: no-repeat;
    background-origin: border-box;
    background-clip: border-box;
    margin-bottom: 54px;
  }

  @include respond(phone) {
    height: 366px;
    position: static;
    background-image: url("/images/banner-phone.png");
    background-size: contain;
    background-position: right 0% bottom 0%;
    background-repeat: no-repeat;
    background-origin: border-box;
    background-clip: border-box;
    margin-bottom: 54px;
  }
}

.banner-text {
  margin-left: 20vw;
  // min-width: fit-content;
  overflow: visible;
  width: auto;
  min-width: fit-content;
  z-index: 1;

  @include respond(tab-port) {
    margin-left: 12vw;
  }
  @include respond(phone) {
    margin-left: 6vw;
  }
}

.banner h1 {
  color: #252525;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 135%;
  text-transform: uppercase;
  height: 130px;
  min-height: 130px;

  @include respond(tab-port) {
    font-size: 36px;
    height: 130px;
  }

  @include respond(phone) {
    font-size: 30px;
  }
}

.banner p {
  color: #252525;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
  margin-top: 15px;

  @include respond(tab-port) {
    margin-top: 25px;
    font-size: 16px;
    line-height: 150%;
    width: 55vw;
  }

  @include respond(phone) {
    font-size: 14px;
    line-height: 150%;
    width: 214px;
  }
}

.banner-image {
  background-image: url("/images/banner.png");
  background-size: auto 100%;
  background-position: right 0% bottom 0%;
  background-repeat: no-repeat;
  background-origin: border-box;
  background-clip: border-box;
  height: 452px;
  width: 100vw;
  margin-left: 0vw;
  position: absolute;
  bottom: 0%;
  left: 0%;
  min-width: 1473px;

  @include respond(tab-port) {
    display: none;
  }

  @include respond(phone) {
    display: none;
  }
}

.spot-line {
  /* display: grid;
  grid-template-columns: 89px 256px;
  grid-template-rows: auto auto; */
  margin-left: 12vw;
  margin-bottom: 46px;
}

.spot {
  display: inline-block;
  width: 72px;
  height: 59px;
  /* background-color: #f6f4f5;
  display: flex;

  justify-content: space-between; */
  align-items: center;
  background-image: url("/icons/spot.svg");
  background-size: contain;
  background-position: right 0% bottom 0%;
  background-repeat: no-repeat;
  background-origin: border-box;
  background-clip: border-box;

  padding-top: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #252525;

  @include respond(phone) {
    width: 54px;
    height: 41px;
    font-size: 24px;
    line-height: 27px;
  }
}

.spot-line h3 {
  display: inline-block;
  font-family: Oswald;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 135%;
  /* identical to box height, or 41px */
  place-self: center;
  text-transform: uppercase;
  color: #000000;
  margin-left: 16px;

  @include respond(phone) {
    font-size: 24px;
    line-height: 135%;
  }
}

/* .spot-line-qty {
  display: grid;
  grid-template-columns: 89px auto;
  grid-template-rows: auto auto;
  margin-left: 12vw;
} */

.spot-line h4 {
  display: inline-block;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 150%;
  /* identical to box height, or 27px */

  color: #000000;
  align-self: center;

  @include respond(phone) {
    font-size: 14px;
    line-height: 150%;
  }
}

.spot-line select {
  display: inline-block;
  width: 119px;
  height: 50px;
  justify-self: center;
  align-self: center;
  margin-left: 48px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  border: 1px solid transparent;
}

.spot-line select:hover {
  cursor: pointer;
  border-color: black;
}

.spot-line span {
  font-weight: bold;
}

.pic-line {
  display: flex;
  flex-wrap: wrap;
  // grid-template-columns: 230px 230px 230px;
  // grid-template-rows: auto auto auto;
  margin-left: 12vw;
  column-gap: 80px;
  justify-items: center;

  @include respond(phone) {
    margin-left: 0;
    justify-content: center;
  }
}

.pic-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;

  @include respond(phone) {
    margin-bottom: 10px;
  }
}

.pic-item:hover {
  cursor: pointer;
  border-color: black;
}

.item-selection {
  margin-top: 25px;
  /* background: #c4c4c4; */
  border: 2px solid #c4c4c4;
  border-radius: 15px;
  margin-bottom: 25px;
  // margin-left: 12vw;
  // margin-right: 12vw;
  // margin: 0px 12vw 84px 0;
  width: 90%;
}

// #item-selection-2 {
//   margin: 0px 12vw 84px 0;

//   @include respond(tablet-port) {
//     margin: 0px 12vw 84px 0;
//   }
// }

.item-selection .selection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 31px;
}

.item-selection,
.br-selection {
  display: none;
}

.show1 {
  display: inline-block;
}

// #pic1:hover #item-selection {
//   display: inline-block;
// }
/* .selection div {
  align-items: center;
} */

.pic-container {
  text-align: center;
}

.item-selection h5 {
  padding: 0 5px;
}

.item-selection h4 {
  font-family: Oswald;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 135%;
  /* identical to box height, or 27px */
  text-align: left;
  margin-left: 50px;
  margin-top: 31px;
  margin-bottom: 14px;
  color: #000000;
}

.pic-item h5 {
  padding: 16px 0 8px 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */

  text-align: center;

  color: #000000;
}

.pic-item p {
  max-width: 121px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  text-align: center;

  color: #000000;
}

button {
  width: 266px;
  height: 50px;
  background: #fee343;
  margin-left: 12vw;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  letter-spacing: 0.05em;
  color: #000000;
  margin-top: 40px;
  border: 0;
  border: 1px solid transparent;
}

button:hover {
  cursor: pointer;
  border-color: black;
}

button:focus {
  outline: none;
}

#mailto {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 150%;
  margin-left: 12vw;
  margin-top: 16px;
  /* identical to box height, or 21px */
  color: #000000;
}

#mailto a {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 150%;
  color: #000000;
}

.cups {
  // margin: 96px auto 0 12vw;
  margin-top: 96px;
  // width: 60%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;

  @include respond(phone) {
    width: 100%;
    margin: 56px auto 0 auto;
    padding: 10px;
  }
}

.cups div {
  background-image: url("/images/varietycups.png");
  background-size: auto 100%;
  background-position: right 0% bottom 0%;
  background-repeat: no-repeat;
  background-origin: border-box;
  background-clip: border-box;
  // min-width: 100%;
  min-width: 566px;
  height: 475px;

  @include respond(tab-port) {
    min-width: 100%;
    height: 257px;
    background-image: url("/images/varietycups-phone.png");
    background-position: center;
  }
  @include respond(phone) {
    min-width: 100%;
    height: 257px;
    background-image: url("/images/varietycups-phone.png");
    background-position: center;
  }
}

.cups section {
  // margin-left: 79px;
  @include respond(tab-port) {
    padding: 0 15px 20px 15px;
  }

  @include respond(phone) {
    margin-left: auto;
  }
}

.cups h3 {
  font-family: Oswald;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 135%;
  /* identical to box height, or 41px */
  margin-bottom: 13px;
  color: #000000;

  @include respond(phone) {
    font-size: 24px;
  }
}

.cups p {
  width: 539px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 150%;
  /* or 27px */

  color: #000000;

  @include respond(tab-port) {
    max-width: 539px;
    width: auto;
  }

  @include respond(phone) {
    font-size: 14px;
    width: auto;
  }
}

.retailers {
  height: 372px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 32px;
}

.retailers section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.retailers div {
  margin: 5px;
}

.retailers h3 {
  font-family: Oswald;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 135%;
  /* identical to box height, or 41px */
  margin-bottom: 32px;

  color: #000000;
  text-align: center;

  @include respond(phone) {
    font-size: 24px;
  }
}

.highlights {
  background-color: #f1f0f0;
  width: 100%;
  min-height: 180px;
  display: flex;
  justify-content: space-evenly;

  @include respond(tab-port) {
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 25px 35px 25px;
  }

  @include respond(phone) {
    flex-wrap: wrap;
    justify-content: left;
    padding: 0 25px;
  }
}

.highlights-item {
  @include respond(phone) {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px;
  }
}

.highlights div {
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  text-align: center;
}

footer {
  height: 246px;
  margin-top: 87px;
}

footer section:first-child {
  // display: grid;
  // grid-template-columns: 50% auto;
  // grid-template-rows: auto;
  // margin-left: 8vw;
  // column-gap: 80px;
  /* justify-items: center; */
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 0 10px;

  @include respond(tab-port) {
    display: flex;
    flex-wrap: wrap;
    margin-left: 0;
    // justify-content: space-between;
  }

  @include respond(phone) {
    display: flex;
    margin-left: 0;
  }
}

.links {
  display: flex;
  width: 50%;
  justify-content: space-between;
  max-width: 450px;

  @include respond(tab-port) {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 50px;
  }

  @include respond(phone) {
    display: none;
  }
}
.group {
  display: flex;
  flex-direction: column;
  // margin-right: 74px;
  width: 114px;

  @include respond(tab-port) {
    width: auto;
    margin-right: 10px;
  }
}

.group h5 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  color: #000000;
}

.group a {
  margin-top: 16px;
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  color: #545454;
}

.rights {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 52px;
  background-color: #f1f0f0;
}

.contact {
  max-width: 420px;
  width: 50vw;

  @include respond(phone) {
    width: 100vw;
  }
}

.contact h5 {
  margin-top: 24px;
  margin-left: 10px;

  @include respond(phone) {
    width: 70%;
  }
}

.contact form {
  /* margin-left: 10px; */
  position: relative;
}

.contact input {
  margin-top: 15px;
  margin-left: 10px;
  height: 50px;
  // width: 370px;
  border: 1px solid #a9a9a9;
  border-right: none;
  padding: 2px;
  max-width: 370px;
  width: 85%;

  @include respond(phone) {
    width: 80%;
  }
}

#triangle {
  width: 40px;
  /* margin-top: 15px;
  height: 40px; */
  /* display: inline-block; */
  border: 1px solid #a9a9a9;
  border-left: none;
  background: white;
  margin-left: 0;
  bottom: 0;
  position: absolute;
  /* right: 0;
  top: 0; */
}

.contact .icon {
  margin-top: 15px;
  margin-left: 10px;
}

.icon img:hover {
  cursor: pointer;
}

.region {
  margin-top: 15px;
  margin-left: 10px;
  margin-bottom: 53px;
  display: flex;
  align-items: center;

  @include respond(phone) {
    margin-left: 0;
    justify-content: center;
  }
}

.region img:hover {
  cursor: pointer;
}

.link-phone {
  display: none;

  @include respond(phone) {
    display: block;
    margin: 10px;
  }
}
.link-phone__item {
  display: flex;
  width: 95%;
  justify-content: space-between;
  margin: 20px 0;
}

.link-phone__item h5 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  margin: 0%;
}

.link-phone__item img {
  width: 9px;
  height: 14px;
}

.region p {
  margin-right: 31px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  color: #545454;
  @include respond(phone) {
    display: none;
  }
}

.checkout-main {
  padding: 0 5vw;
}

.progress-line {
  max-width: 634px;
  // border-bottom: 1px solid #c2c2c2;
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: auto;
  position: relative;
}

.progress-line p {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #c2c2c2;
  padding: 10px 0;
}

.progress-line p:last-child {
  color: #000000;
  border-bottom: 1px solid black;
}

.progress {
  background-color: #c2c2c2;
  position: absolute;
  bottom: 0%;
  left: 0;
  width: 100%;
  height: 1px;
  z-index: -1;
}

.checkout-title {
  margin-top: 75px;
  margin-bottom: 50px;
  font-family: Oswald;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 135%;
  color: #2d2d2d;
}

.checkout-page {
  margin-left: 0;
}

#checkout-form {
  display: flex;
  flex-direction: column;
}

#checkout-form label {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 150%;
  color: #252525;
}

#checkout-form input {
  max-width: 470px;
  background: #ffffff;
  border: 1px solid #a0a0a0;
  box-sizing: border-box;
  border-radius: 15px;
  height: 45px;
}
