<footer>
  <section>
    <div class="links">
      <div class="group">
        <h5>QUICKLINKS</h5>
        <a href="#">Smoothies</a>
        <a href="#">Oats</a>
        <a href="#">Smoothie Bowls</a>
        <a href="#">Supermeals</a>
        <a href="#">Falafel Pops</a>
      </div>
      <div class="group">
        <h5>OUR COMPANY</h5>
        <a href="#">Our Story</a>
        <a href="#">Rewards</a>
        <a href="#">Blog</a>
        <a href="#">Press</a>
        <a href="#">Terms & Privacy</a>
      </div>
      <div class="group">
        <h5>SUPPORT</h5>
        <a href="#">Wholesale</a>
        <a href="#">FAQ</a>
        <a href="#">Contact</a>
      </div>
    </div>
    <div class="contact">
      <div>
        <img src="/images/Logo.png" alt="logo" />
      </div>
      <h5>JOIN OUR MAILING LIST FOR NEWS AND DISCOUNTS</h5>
      <form action="">
        <input type="email" placeholder="Email Address" />
        <button id="triangle">
          <img src="/images/triangle.png" alt="triangle" />
        </button>
      </form>

      <div class="icon">
        <img src="/icons/instagram.svg" alt="instagram-logo" />
        <img src="/icons/facebook.svg" alt="facebook-logo" />
        <img src="/icons/tweeter.svg" alt="tweeter-logo" />
        <img src="/icons/email.svg" alt="email-logo" />
      </div>
      <div class="region">
        <p>Your country/region:</p>
        <div><img src="/icons/cad-flag.svg" alt="canada-flag" /></div>
      </div>
    </div>
  </section>
  <section class="rights">© REVIVE ORGANICS INC. 2020</section>
</footer>
