<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link type="text/css" rel="stylesheet" href="/styles/styles.css" />
    <title>Revive</title>
  </head>
  <body>
    <%- include('partials/_header') %>
    <main></main>
    <%- include('partials/_footer') %>
    <script src="/scripts/sale.js"></script>
  </body>
</html>
