<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link type="text/css" rel="stylesheet" src="/public/styles/styles.css" />
    <!-- Bootstrap CSS -->
    <!-- <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
      integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
      crossorigin="anonymous"
    /> -->
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Oswald:wght@600&family=Roboto:wght@300&display=swap");

      * {
        margin: 0;
        box-sizing: border-box;
        font-family: calibri, arial;
      }

      .header-container {
        position: fixed;
        width: 100%;
        height: 90px;
        display: flex;
        justify-content: center;
        top: 0;
        left: 0;
        z-index: 100;
        align-items: center;
        background-color: white;
        /* padding: 15px; */
      }

      main {
        margin-top: 90px;
      }

      .banner {
        width: 100%;
        height: 452px;
        background-color: #f6f4f5;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-image: url("/images/banner.png");
        background-size: contain;
        background-position: right 0% bottom 0%;
        background-repeat: no-repeat;
        background-origin: border-box;
        background-clip: border-box;
        margin-bottom: 81px;
      }

      .banner-text {
        margin-left: 20vw;
        min-width: fit-content;
        overflow: visible;
      }

      .banner h1 {
        color: #252525;
        font-family: "Oswald", sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        line-height: 135%;
        text-transform: uppercase;
        height: 130px;
        min-height: 130px;
      }

      .banner p {
        color: #252525;
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 27px;
        margin-top: 15px;
      }

      .spot-line {
        /* display: grid;
        grid-template-columns: 89px 256px;
        grid-template-rows: auto auto; */
        margin-left: 12vw;
        margin-bottom: 46px;
      }

      .spot {
        display: inline-block;
        width: 72px;
        height: 59px;
        /* background-color: #f6f4f5;
        display: flex;
      
        justify-content: space-between; */
        align-items: center;
        background-image: url("/icons/spot.svg");
        background-size: contain;
        background-position: right 0% bottom 0%;
        background-repeat: no-repeat;
        background-origin: border-box;
        background-clip: border-box;

        padding-top: 10px;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        color: #252525;
      }

      .spot-line h3 {
        display: inline-block;
        font-family: Oswald;
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 135%;
        /* identical to box height, or 41px */
        place-self: center;
        text-transform: uppercase;
        color: #000000;
        margin-left: 16px;
      }

      /* .spot-line-qty {
        display: grid;
        grid-template-columns: 89px auto;
        grid-template-rows: auto auto;
        margin-left: 12vw;
      } */

      .spot-line h4 {
        display: inline-block;
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 150%;
        /* identical to box height, or 27px */

        color: #000000;
        align-self: center;
      }

      .spot-line select {
        display: inline-block;
        width: 119px;
        height: 50px;
        justify-self: center;
        align-self: center;
        margin-left: 48px;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
      }

      .spot-line span {
        font-weight: bold;
      }

      .pic-line {
        display: grid;
        grid-template-columns: 230px 230px 230px;
        grid-template-rows: auto auto auto;
        margin-left: 12vw;
        column-gap: 80px;
        justify-items: center;
      }

      .pic-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      #item-selection {
        margin-top: 32px;
        /* background: #c4c4c4; */
        border: 2px solid #c4c4c4;
        border-radius: 15px;
        margin-left: 12vw;
        margin-right: 12vw;
      }

      #item-selection .selection {
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 31px;
      }

      #item-selection {
        display: none;
      }

      #pic1:hover #item-selection {
        display: inline-block;
      }
      /* .selection div {
        align-items: center;
      } */

      .pic-container {
        text-align: center;
      }

      #item-selection h4 {
        font-family: Oswald;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 135%;
        /* identical to box height, or 27px */
        text-align: left;
        margin-left: 50px;
        margin-top: 31px;
        margin-bottom: 14px;
        color: #000000;
      }

      .pic:hover #item-selection {
      }

      .pic-item h5 {
        padding: 16px 0 8px 0;
        font-family: Roboto;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        /* identical to box height */

        text-align: center;

        color: #000000;
      }

      .pic-item p {
        max-width: 121px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 16px;
        text-align: center;

        color: #000000;
      }

      button {
        width: 266px;
        height: 50px;
        background: #fee343;
        margin-left: 12vw;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        /* identical to box height */
        letter-spacing: 0.05em;
        color: #000000;
        margin-top: 40px;
        border: 0;
      }

      button:focus {
        outline: none;
      }

      #mailto {
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 150%;
        margin-left: 12vw;
        margin-top: 16px;
        /* identical to box height, or 21px */
        color: #000000;
      }

      #mailto a {
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 150%;
        color: #000000;
      }

      .cups {
        margin: 96px auto 0 12vw;
        width: 60%;
        display: flex;
        justify-content: start;
        align-items: center;
      }

      .cups section {
        margin-left: 79px;
      }

      .cups h3 {
        font-family: Oswald;
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 135%;
        /* identical to box height, or 41px */
        margin-bottom: 13px;
        color: #000000;
      }

      .cups p {
        width: 539px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 150%;
        /* or 27px */

        color: #000000;
      }

      .retailers {
        height: 372px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 32px;
      }

      .retailers section {
        display: flex;
        justify-content: space-around;
      }

      .retailers h3 {
        font-family: Oswald;
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 135%;
        /* identical to box height, or 41px */
        margin-bottom: 32px;

        color: #000000;
        text-align: center;
      }

      .highlights {
        background-color: #f1f0f0;
        width: 100%;
        height: 180px;
        display: flex;
        justify-content: space-evenly;
      }

      .highlights div {
        /* display: flex;
        flex-direction: column;
        justify-content: center; */
        text-align: center;
      }

      footer {
        height: 246px;
        margin-top: 87px;
      }

      footer section:first-child {
        display: grid;
        grid-template-columns: 50% auto;
        grid-template-rows: auto;
        margin-left: 8vw;
        column-gap: 80px;
        /* justify-items: center; */
      }

      .links {
        display: flex;
      }
      .group {
        display: flex;
        flex-direction: column;
        margin-right: 74px;
        width: 114px;
      }

      .group h5 {
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        /* identical to box height */

        color: #000000;
      }

      .group a {
        margin-top: 16px;
        text-decoration: none;
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        /* identical to box height */

        color: #545454;
      }

      .rights {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 52px;
        background-color: #f1f0f0;
      }

      .contact h5 {
        margin-top: 24px;
        margin-left: 10px;
      }

      .contact form {
        /* margin-left: 10px; */
        position: relative;
      }

      .contact input {
        margin-top: 15px;
        margin-left: 10px;
        height: 50px;
        width: 370px;
        border: 1px solid #a9a9a9;
        border-right: none;
        padding: 2px;
      }

      #triangle {
        width: 40px;
        /* margin-top: 15px;
        height: 40px; */
        /* display: inline-block; */
        border: 1px solid #a9a9a9;
        border-left: none;
        background: white;
        margin-left: 0;
        bottom: 0;
        position: absolute;
        /* right: 0;
        top: 0; */
      }

      .contact .icon {
        margin-top: 15px;
        margin-left: 10px;
      }

      .region {
        margin-top: 15px;
        margin-left: 10px;
        margin-bottom: 53px;
        display: flex;
        align-items: center;
      }

      .region p {
        margin-right: 31px;

        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        /* identical to box height */

        color: #545454;
      }
    </style>

    <title>Revive</title>
  </head>
  <body>
    <%- include('partials/_header') %>
    <main style="">
      <section class="banner">
        <div class="banner-text">
          <h1>Making a big order?<br />We got you.</h1>
          <p>
            Choose your quantity below to access our wholesale pricing <br />
            orders are placed on demand and not recurring.
          </p>
        </div>
        <!-- <div>
          <img src="/images/banner.png" alt="fruit" />
        </div> -->
      </section>
      <section class="spot-line">
        <div class="spot">1</div>
        <h3>Pick your quantity</h3>
      </section>
      <section class="spot-line">
        <h4>QUANTITY:</h4>
        <select name="cups-qty" id="cups-qty">
          <option value="48">48</option>
          <option value="72">72</option>
          <option value="96">96</option>
          <option value="120">120</option>
          <option value="144">144</option>
          <option value="200">200</option>
          <option value="250">250</option>
          <option value="288">288</option>
        </select>
      </section>
      <section class="spot-line">
        <h4>PRICE PER CUP:<span> $5.49</span></h4>
      </section>
      <section class="spot-line">
        <div class="spot">2</div>
        <h3>Chose your items</h3>
      </section>
      <section class="pic-line">
        <div class="pic-item">
          <div id="pic1" class="pic">
            <img src="/images/fruitbox.png" alt="fruit-box" />
          </div>
          <h5>FRUIT BOX</h5>
          <p>Perfect for a entire family</p>
        </div>
        <div class="pic-item">
          <div class="pic">
            <img src="/images/bestbox.png" alt="fruit-box" />
          </div>
          <h5>BEST SELLERS BOX</h5>
          <p>Our superfoodies' favorites</p>
        </div>
        <div class="pic-item">
          <div class="pic">
            <img src="/images/fitbox.png" alt="fruit-box" />
          </div>
          <h5>FIT BOX</h5>
          <p>Our superfoodies' favorites</p>
        </div>
      </section>
      <section id="item-selection">
        <h4>ITEMS INCLUDED</h4>
        <div class="selection">
          <div>
            <div class="pic-container">
              <img src="/images/pinkdragon.png" alt="pink-dragon" />
            </div>
            <h5>PINK DRAGON</h5>
          </div>
          <div>
            <div class="pic-container">
              <img src="/images/hintmint.png" alt="hintmint" />
            </div>
            <h5>HINT OF MINT</h5>
          </div>
          <div>
            <div class="pic-container">
              <img src="/images/pinkdragon.png" alt="pink-dragon" />
            </div>
            <h5>PINK DRAGON</h5>
          </div>
          <div>
            <div class="pic-container">
              <img src="/images/hintmint.png" alt="hintmint" />
            </div>
            <h5>HINT OF MINT</h5>
          </div>
          <div>
            <div class="pic-container">
              <img src="/images/pinkdragon.png" alt="pink-dragon" />
            </div>
            <h5>PINK DRAGON</h5>
          </div>
          <div>
            <div class="pic-container">
              <img src="/images/hintmint.png" alt="hintmint" />
            </div>
            <h5>HINT OF MINT</h5>
          </div>
          <div>
            <div class="pic-container">
              <img src="/images/pinkdragon.png" alt="pink-dragon" />
            </div>
            <h5>PINK DRAGON</h5>
          </div>
          <div>
            <div class="pic-container">
              <img src="/images/hintmint.png" alt="hintmint" />
            </div>
            <h5>HINT OF MINT</h5>
          </div>
          <div>
            <div class="pic-container">
              <img src="/images/pinkdragon.png" alt="pink-dragon" />
            </div>
            <h5>PINK DRAGON</h5>
          </div>
        </div>
      </section>
      <button id="cont-btn">CONTINUE</button>
      <p id="mailto">
        For bulk orders over 288 cups, please email:
        <a href="mailto:wholesale@revivesuperfoods.com"
          >wholesale@revivesuperfoods.com</a
        >
      </p>
      <article class="cups">
        <div>
          <img src="/images/varietycups.png" alt="variety-cups" />
        </div>
        <section>
          <h3>WHY REVIVE</h3>
          <p>
            Our team of chefs and nutritionists pre-portion delicious smoothies,
            meals, oats, soups, and falafel pops into convenient on-the-go cups
            delivered right to your door, ready in minutes. We know that good
            food should be simple, and that’s why everything from our smoothies
            to our meals are made with superfood ingredients that are frozen at
            peak nutrition and carefully crafted to perfection, leaving you with
            nothing more to do than to sit back and enjoy.
          </p>
        </section>
      </article>
      <article class="retailers">
        <h3>FIND US AT THESE SELECT RETAILERS</h3>
        <section>
          <div><img src="/images/retailer.png" alt="retailer" /></div>
          <div><img src="/images/retailer.png" alt="retailer" /></div>
          <div><img src="/images/retailer.png" alt="retailer" /></div>
        </section>
      </article>
      <article class="highlights">
        <div>
          <div><img src="/images/clock.png" alt="clock" /></div>
          <h5>MEALS READY IN MINUTES</h5>
        </div>
        <div>
          <div>
            <img src="/images/chef's-hat.png" alt="chef's-hat" />
          </div>
          <h5>CHEF CRAFTED</h5>
        </div>
        <div>
          <div><img src="/images/hand.png" alt="hand" /></div>
          <h5>PRESERVATIVE-FREE</h5>
        </div>
        <div>
          <div><img src="/images/truck.png" alt="truck" /></div>
          <h5>ALWAYS FREE SHIPPING</h5>
        </div>
      </article>
    </main>
    <%- include('partials/_footer') %>
    <!-- Bootstrap JS -->
    <!-- <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
      integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
      crossorigin="anonymous"
    ></script> -->
  </body>
</html>
