<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link type="text/css" rel="stylesheet" href="/styles/styles.css" />
    <!-- Bootstrap CSS -->
    <!-- <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
      integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
      crossorigin="anonymous"
    /> -->

    <title>Revive</title>
  </head>
  <body>
    <%- include('partials/_header') %>
    <main>
      <section class="banner">
        <div class="banner-text">
          <h1>Making a big order?<br />We got you.</h1>
          <p>
            Choose your quantity below to access our wholesale pricing <br />
            orders are placed on demand and not recurring.
          </p>
        </div>
        <div class="banner-image">
          <!-- <img src="/images/banner.png" alt="fruit" /> -->
        </div>
      </section>
      <section class="spot-line">
        <div class="spot">1</div>
        <h3>Pick your quantity</h3>
      </section>
      <section class="spot-line">
        <h4>QUANTITY:</h4>
        <select name="cups-qty" id="cups-qty">
          <option value="48">48</option>
          <option value="72">72</option>
          <option value="96">96</option>
          <option value="120">120</option>
          <option value="144">144</option>
          <option value="200">200</option>
          <option value="250">250</option>
          <option value="288">288</option>
        </select>
      </section>
      <section class="spot-line">
        <h4>PRICE PER CUP:<span> $5.49</span></h4>
      </section>
      <section class="spot-line">
        <div class="spot">2</div>
        <h3>Chose your items</h3>
      </section>
      <section class="pic-line">
        <div class="pic-item" id="fruit-box">
          <div id="pic1" class="pic">
            <img src="/images/fruitbox.png" alt="fruit-box" />
          </div>
          <h5>FRUIT BOX</h5>
          <p>Perfect for a entire family</p>
        </div>
        <section id="item-selection-1" class="item-selection">
          <h4>ITEMS INCLUDED</h4>
          <div class="selection">
            <div>
              <div class="pic-container">
                <img src="/images/pinkdragon.png" alt="pink-dragon" />
              </div>
              <h5>PINK DRAGON</h5>
            </div>
            <div>
              <div class="pic-container">
                <img src="/images/hintmint.png" alt="hintmint" />
              </div>
              <h5>HINT OF MINT</h5>
            </div>
            <div>
              <div class="pic-container">
                <img src="/images/pinkdragon.png" alt="pink-dragon" />
              </div>
              <h5>PINK DRAGON</h5>
            </div>
            <div>
              <div class="pic-container">
                <img src="/images/hintmint.png" alt="hintmint" />
              </div>
              <h5>HINT OF MINT</h5>
            </div>
            <div>
              <div class="pic-container">
                <img src="/images/pinkdragon.png" alt="pink-dragon" />
              </div>
              <h5>PINK DRAGON</h5>
            </div>
            <div>
              <div class="pic-container">
                <img src="/images/hintmint.png" alt="hintmint" />
              </div>
              <h5>HINT OF MINT</h5>
            </div>
            <div>
              <div class="pic-container">
                <img src="/images/pinkdragon.png" alt="pink-dragon" />
              </div>
              <h5>PINK DRAGON</h5>
            </div>
            <div>
              <div class="pic-container">
                <img src="/images/hintmint.png" alt="hintmint" />
              </div>
              <h5>HINT OF MINT</h5>
            </div>
            <div>
              <div class="pic-container">
                <img src="/images/pinkdragon.png" alt="pink-dragon" />
              </div>
              <h5>PINK DRAGON</h5>
            </div>
          </div>
        </section>
        <!-- <br id="br-selection-1" class="br-selection" /> -->
        <div class="pic-item" id="best-box">
          <div class="pic">
            <img src="/images/bestbox.png" alt="best-box" />
          </div>
          <h5>BEST SELLERS BOX</h5>
          <p>Our superfoodies' favorites</p>
        </div>
        <section id="item-selection-2" class="item-selection">
          <h4>ITEMS INCLUDED</h4>
          <div class="selection">
            <div>
              <div class="pic-container">
                <img src="/images/pinkdragon.png" alt="pink-dragon" />
              </div>
              <h5>PINK DRAGON</h5>
            </div>
            <div>
              <div class="pic-container">
                <img src="/images/hintmint.png" alt="hintmint" />
              </div>
              <h5>HINT OF MINT</h5>
            </div>
            <div>
              <div class="pic-container">
                <img src="/images/pinkdragon.png" alt="pink-dragon" />
              </div>
              <h5>PINK DRAGON</h5>
            </div>
            <div>
              <div class="pic-container">
                <img src="/images/hintmint.png" alt="hintmint" />
              </div>
              <h5>HINT OF MINT</h5>
            </div>
            <div>
              <div class="pic-container">
                <img src="/images/pinkdragon.png" alt="pink-dragon" />
              </div>
              <h5>PINK DRAGON</h5>
            </div>
            <div>
              <div class="pic-container">
                <img src="/images/hintmint.png" alt="hintmint" />
              </div>
              <h5>HINT OF MINT</h5>
            </div>
            <div>
              <div class="pic-container">
                <img src="/images/pinkdragon.png" alt="pink-dragon" />
              </div>
              <h5>PINK DRAGON</h5>
            </div>
            <div>
              <div class="pic-container">
                <img src="/images/hintmint.png" alt="hintmint" />
              </div>
              <h5>HINT OF MINT</h5>
            </div>
            <div>
              <div class="pic-container">
                <img src="/images/pinkdragon.png" alt="pink-dragon" />
              </div>
              <h5>PINK DRAGON</h5>
            </div>
          </div>
        </section>
        <!-- <br id="br-selection-1" class="br-selection" /> -->
        <div class="pic-item" id="fit-box">
          <div class="pic">
            <img src="/images/fitbox.png" alt="fit-box" />
          </div>
          <h5>FIT BOX</h5>
          <p>Our superfoodies' favorites</p>
        </div>
        <section id="item-selection-3" class="item-selection">
          <h4>ITEMS INCLUDED</h4>
          <div class="selection">
            <div>
              <div class="pic-container">
                <img src="/images/pinkdragon.png" alt="pink-dragon" />
              </div>
              <h5>PINK DRAGON</h5>
            </div>
            <div>
              <div class="pic-container">
                <img src="/images/hintmint.png" alt="hintmint" />
              </div>
              <h5>HINT OF MINT</h5>
            </div>
            <div>
              <div class="pic-container">
                <img src="/images/pinkdragon.png" alt="pink-dragon" />
              </div>
              <h5>PINK DRAGON</h5>
            </div>
            <div>
              <div class="pic-container">
                <img src="/images/hintmint.png" alt="hintmint" />
              </div>
              <h5>HINT OF MINT</h5>
            </div>
            <div>
              <div class="pic-container">
                <img src="/images/pinkdragon.png" alt="pink-dragon" />
              </div>
              <h5>PINK DRAGON</h5>
            </div>
            <div>
              <div class="pic-container">
                <img src="/images/hintmint.png" alt="hintmint" />
              </div>
              <h5>HINT OF MINT</h5>
            </div>
            <div>
              <div class="pic-container">
                <img src="/images/pinkdragon.png" alt="pink-dragon" />
              </div>
              <h5>PINK DRAGON</h5>
            </div>
            <div>
              <div class="pic-container">
                <img src="/images/hintmint.png" alt="hintmint" />
              </div>
              <h5>HINT OF MINT</h5>
            </div>
            <div>
              <div class="pic-container">
                <img src="/images/pinkdragon.png" alt="pink-dragon" />
              </div>
              <h5>PINK DRAGON</h5>
            </div>
          </div>
        </section>
      </section>
      <form method="GET" action="/checkout">
        <button id="cont-btn">CONTINUE</button>
      </form>
      <p id="mailto">
        For bulk orders over 288 cups, please email:
        <a href="mailto:wholesale@revivesuperfoods.com"
          >wholesale@revivesuperfoods.com</a
        >
      </p>
      <article class="cups">
        <div>
          <!-- <img src="/images/varietycups.png" alt="variety-cups" /> -->
        </div>
        <section>
          <h3>WHY REVIVE</h3>
          <p>
            Our team of chefs and nutritionists pre-portion delicious smoothies,
            meals, oats, soups, and falafel pops into convenient on-the-go cups
            delivered right to your door, ready in minutes. We know that good
            food should be simple, and that’s why everything from our smoothies
            to our meals are made with superfood ingredients that are frozen at
            peak nutrition and carefully crafted to perfection, leaving you with
            nothing more to do than to sit back and enjoy.
          </p>
        </section>
      </article>
      <article class="retailers">
        <h3>FIND US AT THESE SELECT RETAILERS</h3>
        <section>
          <div><img src="/images/retailer.png" alt="retailer" /></div>
          <div><img src="/images/retailer.png" alt="retailer" /></div>
          <div><img src="/images/retailer.png" alt="retailer" /></div>
        </section>
      </article>
      <article class="highlights">
        <div class="highlights-item">
          <div><img src="/images/clock.png" alt="clock" /></div>
          <h5>MEALS READY IN MINUTES</h5>
        </div>
        <div class="highlights-item">
          <div>
            <img src="/images/chef's-hat.png" alt="chef's-hat" />
          </div>
          <h5>CHEF CRAFTED</h5>
        </div>
        <div class="highlights-item">
          <div><img src="/images/hand.png" alt="hand" /></div>
          <h5>PRESERVATIVE-FREE</h5>
        </div>
        <div class="highlights-item">
          <div><img src="/images/truck.png" alt="truck" /></div>
          <h5>ALWAYS FREE SHIPPING</h5>
        </div>
      </article>
    </main>
    <%- include('partials/_footer') %>
    <!-- Bootstrap JS -->
    <!-- <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
      integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
      crossorigin="anonymous"
    ></script> -->
    <script src="/scripts/sale.js"></script>
  </body>
</html>
